<div class="row main">
    <div class="col-7">
      <MARQUEE WIDTH=100% HEIGHT=100 DIRECTION=right BEHAVIOR=SLIDE SCROLLDELAY=1000 SCROLLAMOUNT=600 HSPACE=10>
        <div class="welcome">Welcome</div>
      </MARQUEE>
    </div>
  
    <div class="col-5">
  
    </div>
    <div class="col-5 mt-2">
      
    </div>
  
    <div class="col-7 mt-2">
      <MARQUEE WIDTH=100% HEIGHT=100 DIRECTION=left BEHAVIOR=SLIDE SCROLLDELAY=1000 SCROLLAMOUNT=600 HSPACE=10>
        <div class="welcome">Patient</div>
      </MARQUEE>
    </div>
  </div>


  <div class="d-flex justify-content-center mt-5">
      <div class="card">
          <div class="card-header">
              Notifications
          </div>
          <div class="card-body">
              Here are the notifications for the patient
              <MARQUEE WIDTH=100% HEIGHT=100% DIRECTION=up BEHAVIOR=Scroll SCROLLDELAY=1000 SCROLLAMOUNT=100 HSPACE=10>
                <div class="welcome"><li>Notification 1</li></div>
              </MARQUEE>
          </div>
          <div class="card-footer">
              Keep checking for more updates
          </div>
      </div>

  </div>
  
  
  
  
  
    