

.main{
    background: rgba(241, 239, 239, 0.452);
    color:black;
    font-size:65px;
    
}

.card-header{
    color:white;
    background-color: black;
}

.card-footer{
    color:white;
    background-color: black;
}

.card{
    height:500px;
    background: rgba(53, 26, 116, 0.26);
}