<div class="row main mt-5">
    <div class="col-7">
      <MARQUEE WIDTH=100% HEIGHT=100 DIRECTION=right BEHAVIOR=SLIDE SCROLLDELAY=1000 SCROLLAMOUNT=600 HSPACE=10>
        <div class="welcome">Welcome</div>
      </MARQUEE>
    </div>
  
    <div class="col-5">
  
    </div>
    <div class="col-5 mt-2">
      
    </div>
  
    <div class="col-7 mt-2">
      <MARQUEE WIDTH=100% HEIGHT=100 DIRECTION=left BEHAVIOR=SLIDE SCROLLDELAY=1000 SCROLLAMOUNT=600 HSPACE=10>
        <div class="welcome">Doctor</div>
      </MARQUEE>
    </div>
  </div>
  
  
  
  
  
    