.card-header{
    background-color: rgba(0, 3, 7, 0.671);
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white
  }
  
  .card {
    background-color: rgba(6, 57, 116, 0.356);
  }
  
   
  .validation-error{
    color:red;
    font-size:15px;
  }
  
  input.ng-touched.ng-invalid{
    border:1px solid red;
  }
  
  .form-group{
    font-size: 20px;
  }