<nav class="navbar navbar-dark navbar-expand-md navbar-justified">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontents">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcontents">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/adminSignup" class="nav-link">Admin</a>
            </li>
            
            <li class="nav-item" >
                <a routerLink="/doctorSignup" class="nav-link">Doctors</a>
            </li>

            <li class="nav-item" >
                <a routerLink="/patientSignup" class="nav-link">Patient</a>
            </li>

            <li class="nav-item" >
                <a routerLink="/agentSignup" class="nav-link">agent</a>
            </li>
            
           
        </ul>
    </div>
  </nav>
