.main{
    background: rgba(247, 241, 241, 0.452);
    color:black;
    font-size:65px;
    
}
.welcome{
    color: white;
  text-shadow: 4px 4px 6px #770d0d;
}

.approv{
    background: rgba(1,1,1,0.5);
    border: 2px solid black;
    padding:5px;
    vertical-align: middle;
}
h4{
    color:white
}